#headerContainer>#title, #scoreDiv {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
}

#headerContainer>#directions {
    font-family: 'Open Sans Condensed', sans-serif;
    padding-top: 10px;
}

#headerContainer {
    background-color: #292929;
    color: white;
    padding: 30px 15px;
    display: inline-flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-bottom: 100px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 700;
};
